{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<div class="span4 offset4">
<h1>Add Album</h1>
<form action="." method="post">
<div class="form-row">
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
</div>
<fieldset class="formset">
<legend>Songs</legend>
    {{ albumsong_formset.management_form }}
    {% for form in albumsong_formset %}
    {{ form.id }}
    <div class="form-row inline {{ albumsong_formset.prefix }}">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
        {{ form.lyrics.label_tag }}
        {{ form.lyrics }}
        {{ form.lyrics.errors }}
        {{ form.genres.label_tag }}
        {{ form.genres }}
        {{ form.genres.errors }}
    </div>
    <hr>
    {% endfor %}
</fieldset>
<div class="submit-row">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Add album" />
</div>
</form>
</div>
{% endblock %}