{% extends "core/base.html" %}

{% block content %}
<h2>
{% if album.artist.profile.full_name != "" %}
  {{ album.artist.profile.full_name }}
{% else %}
  {{ album.artist.profile.username }}
{% endif %}
</h2>
<hr>

<h3>{{ album.name }}</h3>
<ul>
    {% for song in album.song_set.all %}
      <li><a href="{% url "song_detail" album.artist.profile.username album.slug song.slug %}">{{ song.name }}</a></li>
    {% endfor %}
</ul>

<p><a href="{% url 'song_add' album.artist.profile.username album.slug %}" class="btn btn-primary">Add new songs</a></p>
{% endblock %}
