{% extends "core/base.html" %}
{% load i18n %}

<!-- not tested  
{% block app.scripts %}
<script src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ albumsong_formset.prefix }}').formset({
        prefix: '{{ albumsong_formset.prefix }}',
    })
})
</script>
{% endblock %}
-->

{% block content %}

<div class="span4 offset4">

  <form action="{% url 'artist_add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "core/includes/_form_snippet.html" with form=form %}
    
    <p>
      <input type="submit" class="btn btn-primary" value="Save" />
    </p>
  </form>

</div>

{% endblock %}