{% extends "core/base.html" %}

{% block content %}
<h2>{{ artist.profile.first_name }} {{ artist.profile.last_name }}</h2>
<p>{{ artist.bio }}</p>
<hr>
{% if artist.album_set.all %}
<h3>Albums</h3>
<ul>
  {% for album in artist.album_set.all %}
    <li><a href="{% url "album_detail" artist.profile.username album.slug %}">{{ album.name }}</a></li>
    <h4>Songs</h4>
    <ul>
      {% for song in album.song_set.all %}
        <li><a href="{% url "song_detail" artist.profile.username album.slug song.slug %}">{{ song.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
{% else %}
<p>No Albums</p>
{% endif %}
{% endblock %}
