{% extends "core/base.html" %}

{% block content %}
<div class="span12"> 
  {% if artist_list %}
    <h3>Artists</h3>
    {% for artist in artist_list %}
      <p><a href="{% url "artist_detail" artist.profile.username %}">{{ artist.profile.username }}</a></p>
    {% endfor %}
    <hr>
  {% endif %}
 
  {% if album_list %}
    <h3>Albums</h3>
    {% for album in album_list %}
      <p><a href="{% url "album_detail" album.artist.profile.username album.slug %}">{{ album.name }}</a></p>
    {% endfor %}
    <hr>
  {% endif %}

  {% if song_list %}
    <h3>Songs</h3>
    {% for song in song_list %}
      <p><a href="{% url "song_detail" song.album.artist.profile.username song.album.slug song.slug %}">{{ song.name }}</a></p>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}